@font-face {
  font-family: "Esamanru-Light";
  src: url("../fonts/esamanru_Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Esamanru-Bold";
  src: url("../fonts/esamanru_Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Sintony-Bold";
  src: url("../fonts/Sintony-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "SUITE-Variable";
  src: url("../fonts/SUITE-Variable.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NIXGONFONTS";
  src: url("../fonts/NIXGONFONTS%20L%202.0.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

#salaryInformationEntryLayout {
  width: 100%;
  height: 100%;
  position: relative;
}

#salaryInformationEntryRightSide {
  max-width: 360px;
  height: 600px;
  position: fixed;
  top: 120px;
  right: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.25);
}

.table-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 4px;
  height: 70vh;
  // overflow: auto;
  // border: 1px solid rgb(222, 226, 230);
  position: relative;
}

.table-footer {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.table-footer tfoot th {
  background-color: rgb(235, 234, 234);
  text-align: center;
}

.table-footer tfoot td {
  background-color: rgb(235, 234, 234);
  text-align: right;
}

/* 오른쪽 사원 상세정보 영역 */
#rightsideIcon {
  position: fixed;
  width: fit-content;
  top: 45%;
  right: 12px;
  font-size: 48px;
  color: rgb(57, 63, 80);
  cursor: pointer;
}

#rightSideBackground {
  background-color: rgba(241, 241, 241, 0.5);
  border-radius: 16px;
}

#rightSideBackground .accordion-button {
  font-family: "SUITE-Variable";
  font-size: 20px;
  background-color: rgb(241, 241, 241);
}

/* header */
#secondTopHeaderMenuList {
  margin-right: 27px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.extraDeductBtn {
  padding: 0px 16px !important;
  width: fit-content !important;
  height: 32px !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid white !important;
}

.extraDeductBtn:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* #reCalculateBtn {
    padding: 0px 16px;
    width: fit-content;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
  } */

/* 트랜지션 정의 */
// .transition {
//   transition: opacity 1s ease-in-out, transform 1s ease-in-out,
//     max-width 1s ease-in-out;
//   opacity: 1;
//   max-width: 100%; /* 열린 상태에서 가로 크기를 최대로 유지 */
//   transform: translateX(0); /* 초기 위치 (열린 상태) */
// }

/* 숨김 상태의 트랜지션 정의 */
// .transition.hidden {
//   opacity: 0;
//   max-width: 0; /* 닫힌 상태에서 가로 크기를 0으로 만듦 */
//   transform: translateX(-100%); /* 왼쪽으로 이동하여 숨김 상태로 만듦 */
//   overflow: hidden;
// }

/////////////////////
///siEnDetail css
///
.siEmpDetail-container {
  height: 500px;
  font-family: "SUITE-Variable";
  padding-top: 10px;
}

// #siEmpDetail-content {
//     color: blue;
//     font-size: 8px;
// }

// Animation
.visible {
  opacity: 1;
  transform: translateX(-36px);
  transition: opacity 0.75s, transform 0.75s;
}
.visible.active {
  opacity: 1;
  transform: translateX(-36px);
}

.hidden {
  opacity: 0.25;
  transform: translateX(100%);
  transition: opacity 0.75s, transform 0.75s;
}
.hidden.active {
  opacity: 1;
  transform: translateX(0);
}

.left {
  opacity: 1;
  position: absolute;
  transform: translateX(-400px);
  transition: opacity 0.75s, transform 0.75s;
}
.left.active {
  opacity: 1;
  transform: translateX(0);
}

.right {
  opacity: 1;
  position: absolute;
  transform: translateX(0);
  transition: opacity 0.75s, transform 0.75s;
}
.right.active {
  opacity: 1;
  transform: translateX(0);
}

// @keyframes bounce {
//   0%,
//   100% {
//     transform: translateY(-15%);
//     animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
//   }
//   50% {
//     transform: translateY(0);
//     animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
//   }
// }
