#er-container {
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 176px);
}

#empRegisterLayout {
  margin-top: 40px;
}

#empRegisterLayoutLeft {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 72vh;
  overflow: auto;
  border: 1px solid rgb(222, 226, 230);
}
#empRegisterLayoutRight {
  margin-left: 20px;
}

#empDataSortedMenuArea {
  position: relative;
  height: 50px;
  overflow-y: hidden;
}

#mnMaverage.form-control {
}
