#empRegisterLayout {
  margin-top: 40px;
  margin-left: 4px;
}

#empRegisterLayoutLeft {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 66vh;
  overflow: auto;
  border: 1px solid rgb(222, 226, 230);
}
#empRegisterLayoutRight {
  margin-left: 20px;
}

#empDataSortedMenuArea {
  position: relative;
  height: 50px;
  overflow-y: hidden;
}
