/* 
RGB-COLOR-CODE ============================
100% rgb(48,150,255) - 더존 블루
25% rgb(151,202,255) - 더존 연한 블루
15% rgb(224,239,255) - 하늘색
10% rgb(233,244,255) - 밝은 하늘색

rgb(57, 63, 80)   - 어두운 회색

rgb(255, 20, 52)  - 형광빨강
===========================================
*/
/* component들의 공통된 css를 관리하는 파일 (ex) 유효성검사 */

input.form-control {
  margin: 2px 0px;
}

/* input.form-control:focus {
  outline: none;
  border: 0;
}
*/
.invalid {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: -1px !important;
  outline-color: rgb(255, 20, 52) !important;
  box-shadow: 0 0px 4px 2px rgba(255, 20, 52, 0.5) !important;
}

.col-md-12 .label,
.label {
  width: 25%;
  max-width: 120px;
  height: 120%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(233, 236, 239);
  */
  background-color: rgb(233, 244, 255);
}

.siEmpDetail-container .col-md-12 .label {
  width: 60%;
  text-align: center;
}

.col-md-6 .label {
  width: 72%;
  max-width: 120px;
  height: 150%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 244, 255);
  /* background-color: rgb(233, 236, 239);
  */
}

.col-md-4 .label {
  width: 74%;
  max-width: 120px;
  height: 160%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 244, 255);
  /* background-color: rgb(233, 236, 239);
  */
}

.labelAndContent {
  display: flex;
  align-items: center;
  gap: 16px;
}

.widthFull {
  width: 100%;
}

.modal-body {
  position: relative;
  max-height: 60vh;
}

.modal-body thead {
  position: sticky;
  top: 0;
}

.modal-body .table-wrapper-content {
  min-height: 20vh;
  max-height: 50vh;
  overflow-y: auto;
}

.modal-body .table-footer {
  width: 100%;
  position: static;
  bottom: 0;
}

.modal-closeBtn {
  /* 모달 닫기 버튼 */
  font-size: 24pt;
  color: rgb(57, 63, 80);
  cursor: pointer;
}

.modal-body .table-wrapper-content::-webkit-scrollbar,
#empRegisterLayoutLeft::-webkit-scrollbar,
.leftTable::-webkit-scrollbar {
  /* 스크롤바 너비 */
  width: 8px;
}

.modal-body .table-wrapper-content::-webkit-scrollbar-thumb,
#empRegisterLayoutLeft::-webkit-scrollbar-thumb,
.leftTable::-webkit-scrollbar-thumb {
  /* 스크롤바 */
  height: 10%;
  background: rgb(151, 202, 255);
  border-radius: 10px;
}

.modal-body .table-wrapper::-webkit-scrollbar-track,
#empRegisterLayoutLeft::-webkit-scrollbar-track,
.leftTable::-webkit-scrollbar-track {
  background: rgb(233, 244, 255);
  /*스크롤바 뒷 배경*/
}
