@import url("context.css");

.invalid {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: -1px !important;
  outline-color: rgb(255, 20, 52) !important;
  box-shadow: 0 0px 4px 2px rgba(255, 20, 52, 0.5) !important;
}

.col-md-12 .label,
.label {
  width: 25%;
  max-width: 120px;
  height: 120%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(233, 236, 239);
  */
  font-weight: 700;
  background-color: var(--lightSkyblue);
}

.siEmpDetail-container .col-md-12 .label {
  min-width: 120px;
  max-width: 120px;
  text-align: center;
  font-weight: 700;
}

.col-md-6 .label {
  min-width: 120px;
  max-width: 120px;
  height: 150%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: var(--lightSkyblue);
  font-weight: 700;
  /* background-color: rgb(233, 236, 239);
  */
}

.col-md-4 .label {
  min-width: 120px;
  max-width: 120px;
  height: 160%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-color: var(--lightSkyblue);
  font-weight: 700;
  /* background-color: rgb(233, 236, 239);
  */
}

.deleteLabelBackground .label {
  background-color: transparent;
  font-weight: 700;
}

.labelAndContent {
  display: flex;
  align-items: center;
  gap: 16px;
}

.widthFull {
  width: 100%;
}

.regNum {
  position: relative;
}

.visibleBtn {
  position: absolute;
  top: 20%;
  right: 6px;
  color: var(--dark);
  border: none;
  background-color: transparent;
}

.modal-body {
  position: relative;
  max-height: 60vh;
}

.modal-body thead {
  position: sticky;
  top: 0;
}

.modal-body .table-wrapper-content {
  min-height: 20vh;
  max-height: 50vh;
  overflow-y: auto;
}

.modal-body .table-footer {
  width: 100%;
  position: static;
  bottom: 0;
}

.modal-closeBtn {
  /* 모달 닫기 버튼 */
  font-size: 24pt;
  color: var(--dark);
  cursor: pointer;
}

.modal-body .table-wrapper-content::-webkit-scrollbar,
#empRegisterLayoutLeft::-webkit-scrollbar,
.leftTable::-webkit-scrollbar {
  /* 스크롤바 너비 */
  width: 8px;
}

.modal-body .table-wrapper-content::-webkit-scrollbar-thumb,
#empRegisterLayoutLeft::-webkit-scrollbar-thumb,
.leftTable::-webkit-scrollbar-thumb {
  /* 스크롤바 */
  height: 10%;
  background: var(--lightBlue);
  border-radius: 10px;
}

.modal-body .table-wrapper::-webkit-scrollbar-track,
#empRegisterLayoutLeft::-webkit-scrollbar-track,
.leftTable::-webkit-scrollbar-track {
  background: var(--lightSkyblue);
  /*스크롤바 뒷 배경*/
}
