/* component들의 공통된 css를 관리하는 파일 (ex) 유효성검사 */

/* 
[ COLOR ]
형광빨강 : rgb(255, 20, 52)
*/

input.form-control {
  margin: 2px 0px;
}

/* input.form-control:focus {
  outline: none;
  border: 0;
} */

.invalid {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: -1px !important;
  outline-color: rgb(255, 20, 52) !important;
  box-shadow: 0 0px 4px 2px rgba(255, 20, 52, 0.5) !important;
}

.col-md-12 .label,
.label {
  width: 25%;
  max-width: 120px;
  height: 120%;
  /* padding-right: 12px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(233, 236, 239); */
  background-color: rgb(203, 229, 255);
}

.col-md-6 .label {
  width: 72%;
  max-width: 120px;
  height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 229, 255);
  /* background-color: rgb(233, 236, 239); */
}

.col-md-4 .label {
  width: 74%;
  max-width: 120px;
  height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 229, 255);
  /* background-color: rgb(233, 236, 239); */
}

.labelAndContent {
  display: flex;
  align-items: center;
  gap: 16px;
}

.widthFull {
  width: 100%;
}
