/* 작성자 : 오승환 */

/* 
  작성자 :   현소현 
  수정일 :   2023-08-21
  수정내용 : 파일명 변경_코드도움 컴포넌트도 이 css 사용함. 
            주석추가
*/
.svg-wrapper {
  position: relative;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.svg-container input {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: 0;
  font-size: 1rem;
  color: var(--bs-body-color);
  cursor: default;
  caret-color: transparent;

  appearance: none;
  background-color: var(--bs-body-bg);
  // background-color: #efefef;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // z-index: -1;
}

// .svg-container input:focus {
//   background-color: #efefef; 
// }

.svg-container svg {
  position: absolute;
  top: 50%;
  right: 14.5px;
  transform: translateY(-50%);
  cursor: pointer;
  
  // z-index: 2;
}

.svg-container2 input {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: 0;
  font-size: 1rem;
  color: var(--bs-body-color);

  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // z-index: -1;
}

.svg-container2 svg {
  position: absolute;
  top: 50%;
  right: 36px;
  transform: translateY(-50%);
  cursor: pointer;
  //z-index: 2;
}

.smallText {
  font-size: 10px;
}
