/* 
.profileDropdown::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
} */


.profileDropdown {
  background-image: linear-gradient(to bottom, rgb(224, 239, 255) 51%, #FFFFFF 0%);
  position: absolute;
  right: 85px;
  top: 55px;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 200px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}

.textContainer{
  margin-top: 50px;
}

.name {
  font-size: 22px;  
  font-weight: bold;
  color: #000000;
}

.recentLogin {
  padding-top: 10px;
  font-size: 12px;  
  font-weight: bold;
  color: #000000;
}

.anotherLogin {
  font-size: 12px;  
  font-weight: normal;
  color: #777777;  
}


.textContainer p {
  margin: 0;  
}
 

#topRightNotificationHeader {
  position: relative;
}

.profileDropdown,
.miniMap {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  transition: background-color 0.2s ease;
}

.profileDropdown:hover,
.miniMap:hover {
  background-color: #f2f2f2;
}
 
.profileDropdown img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  margin-left: 25px;
}

.profileDropdown .userInfo {
  margin-top: 25px;
  margin-left: 40px;
}



.profileDropdown a,
.miniMap a {
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.profileDropdown a:hover,
.miniMap a:hover {
  background-color: #e6e6e6;
}  
 
/****/
/*  
.profileDropdown {
  background-image: linear-gradient(to bottom, rgb(224, 239, 255) 40%, #FFFFFF 0%);
  position: absolute;
  right: 85px;
  top: 55px;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 20px;
}

.textContainer{
  margin-top: 65px;
}

.name {
  font-size: 22px;  
  font-weight: bold;
  color: #000000;
}

.recentLogin {
  padding-top: 10px;

  font-size: 12px;  
  font-weight: bold;
  color: #000000;
}

.anotherLogin {
  font-size: 12px;  
  font-weight: normal;
  color: #777777;  
}


.textContainer p {
  margin: 0;  
}
 

#topRightNotificationHeader {
  position: relative;
}

.profileDropdown,
.miniMap {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  transition: background-color 0.2s ease;
}

.profileDropdown:hover,
.miniMap:hover {
  background-color: #f2f2f2;
} 
.profileDropdown img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-left: 20px;
}

.profileDropdown .userInfo {
  margin-top: 25px;
  margin-left: 40px;
}



.profileDropdown a,
.miniMap a {
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.profileDropdown a:hover,
.miniMap a:hover {
  background-color: #e6e6e6;
}  
  */