* {
  font-size: small;
}

#empRegisterLayout {
  margin-top: 22px;
  margin-left: 4px;
}

#empRegisterLayoutRight {
  margin-left: 12px;
}

#empDataSortedLine {
  position: absolute;
  bottom: 13px;
  border-top: solid 2px rgb(230, 230, 230);
}

#empDataSortedMenuArea {
  position: relative;
}

#baseDataContents {
  position: relative;
}

#baseDataContents > div {
  justify-content: right;
}

#baseDataContentsBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 32%;
  height: 100%;
  z-index: -1;
  background-color: rgba(2, 7, 21, 0.1);
}
