* {
  font-size: small;
  overflow-x: hidden;
}

/* #empRegisterArea {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
} */

/* #empRegisterHeader {
  position: absolute;
  width: 100%;
  top: 52px;
  left: 0;
} */

#empRegisterLayout {
  /* position: absolute; */
  /* top: 92px; */
  /* right: 0; */
  /* width: 100%; */
  margin-top: 40px;
  margin-left: 4px;
  /* overflow-x: hidden; */
}

#empRegisterLayoutRight {
  margin-left: 12px;
  margin-bottom: 120px;
}

/* #empDataSortedLine {
  position: absolute;
  bottom: 13px;
  border-top: solid 2px rgb(230, 230, 230);
} */

#empDataSortedMenuArea {
  position: relative;
  height: 50px;
  overflow-y: hidden;
}

#baseData {
  margin-right: 16%;
}

#baseDataContents {
  position: relative;
}

#baseDataContents > div {
  justify-content: right;
}

#baseDataContentsBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 32%;
  height: 100%;
  z-index: -1;
  background-color: rgb(233, 236, 239);
  border-radius: 2px;
}
