/* 제목 */
@font-face {
  font-family: "EsamanruL";
  src: url("./fonts/esamanru_Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "EsamanruB";
  src: url("./fonts/esamanru_Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "SintonyB";
  src: url("./fonts/Sintony-Bold.ttf") format("truetype");
  font-weight: normal;
}

/* 본문 */
@font-face {
  font-family: "SUITE";
  src: url("./fonts/SUITE-Variable.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Sintony";
  src: url("./fonts/Sintony-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NIXGON";
  src: url("./fonts/NIXGONFONTS%20L%202.0.ttf") format("truetype");
  font-weight: normal;
}

/* 로고 */
@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

/* fonts */
.NIXGON {
  font-family: "NIXGON";
}
.SUITE {
  font-family: "SUITE";
}
.SintonyB {
  font-family: "SintonyB";
}
.Sintony {
  font-family: "Sintony";
}
.EsamanruL {
  font-family: "EsamanruL";
}
.EsamanruB {
  font-family: "EsamanruB";
}
.Jost {
  font-family: "Jost";
}

/* logo */
.p-48 {
  font-size: 48pt;
  font-weight: 400;
  letter-spacing: 2px;
}

.p-32 {
  font-size: 32pt;
}
.p-28 {
  font-size: 28pt;
}
.p-24 {
  font-size: 24pt;
}

.p-20 {
  font-size: 20pt;
}
.p-16 {
  font-size: 16pt;
}
.p-14 {
  font-size: 14pt;
}
.p-12 {
  font-size: 12pt;
}
.p-10 {
  font-size: 10pt;
}
.p-8 {
  font-size: 8pt;
}

.semi-bold {
  font-weight: 600;
}

.form-control {
  font-size: 10pt !important;
}

.form-select {
  font-size: 10pt !important;
}

.btn-secondary {
  font-size: 10pt !important;
}
