#mainTabContentArea {
  position: relative;
  background-color: transparent;
}

#mainTabContentLeft {
  width: 15%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin-left: 8px;
  position: absolute;
  z-index: -1;
  background-color: rgb(233, 236, 239);
  border-radius: 2px;
}

#mainTabContentRight {
  width: 15%;
  height: 100%;
  top: 0px;
  left: 50%;
  margin-left: 8px;
  position: absolute;
  z-index: -1;
  background-color: rgb(233, 236, 239);
  border-radius: 2px;
}
