@import url("context.css");

// 모든 페이지의 스크롤바
body {
  &::-webkit-scrollbar {
    width: 0px; /* 세로 스크롤바의 너비 */
    height: 0px; /* 가로 스크롤바의 높이 */
  }

  &::-webkit-scrollbar-thumb {
    height: 10%;
    border-radius: 10px;
    background-color: var(--blue);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkBlue);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--lightSkyblue);
  }

  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:start:increment {
    display: block;
    height: 56px;
  }
}

#page1,
#page2 {
  width: 100vw;
  height: 100vh;
}

#mainPageTopHeader-BackGround {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 64px;
  z-index: 2;
}

#mainPageTopHeader {
  width: 70%;
  position: absolute;
  top: 0;
  margin: 0px 14%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  z-index: 2;
}

#mainPageTopHeader a {
  text-decoration: none;
  color: whitesmoke;
}

.icon-infinity {
  margin-left: 4px;
  color: whitesmoke;
  transform: translateY(2px);
}

.icon-text {
  /* -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bot); */
  color: whitesmoke;
}

#mainPageTopHeaderContents {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 40px;
}

#mainPageTopHeaderContents a {
  text-decoration: none;
  font-size: 12pt;
  color: rgba(255, 255, 255, 0.8);
}
#mainPageTopHeaderContents a:hover {
  color: rgb(255, 255, 255);
}

#signUpSignInBtn {
  display: flex;
  gap: 12px;
}

#signUpSignInBtn a {
  color: rgba(255, 255, 255, 0.8);
  border: solid 1px white;
  border-radius: 2px;
  padding: 4px 16px;
  background-color: transparent;
}

#signUpSignInBtn a:hover {
  /* transform: scale(1.1); */
  color: rgb(255, 255, 255);
  transition-duration: 200ms;
  background-color: rgba(255, 255, 255, 0.2);
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: rgb(57, 63, 80);
  position: relative;
  background-image: url("./img/wehago_backImg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: scaleBackground 16s infinite;
}

.textBox {
  width: 100vw;
  margin-bottom: 30vh;
  text-align: center;
  color: white;
  animation: fadeInUp 1s ease-in-out, moveUp 1s ease-in-out;
}

.menuBtnList {
  position: absolute;
  bottom: 120px;
  display: flex;
  flex-direction: row;
  gap: 36px;
  justify-content: center;
  text-align: center;
  color: white;
}

.menuBtn {
  margin: 16px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-size: 48px;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.25);
}

.er {
  background: linear-gradient(120deg, rgb(162, 255, 252), rgb(48, 150, 255));
}
.er:hover {
  background: linear-gradient(
    120deg,
    rgba(162, 255, 252, 0.7),
    rgba(48, 150, 255, 0.7)
  );
}
.hr {
  background: linear-gradient(120deg, rgb(239, 255, 168), rgb(48, 150, 255));
}
.hr:hover {
  background: linear-gradient(
    120deg,
    rgba(239, 255, 168, 0.7),
    rgba(48, 150, 255, 0.7)
  );
}
.lc {
  background: linear-gradient(120deg, rgb(162, 255, 252), rgb(48, 150, 255));
}
.lc:hover {
  background: linear-gradient(
    120deg,
    rgba(162, 255, 252, 0.7),
    rgba(48, 150, 255, 0.7)
  );
}
.si {
  background: linear-gradient(120deg, rgb(254, 212, 255), rgb(48, 150, 255));
}
.si:hover {
  background: linear-gradient(
    120deg,
    rgba(254, 212, 255, 0.7),
    rgba(48, 150, 255, 0.7)
  );
}

#leftArrowBtn {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 45%;
  left: 32px;
  font-size: 48px;
}
#leftArrowBtn-animation {
  color: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 45%;
  left: 32px;
  font-size: 48px;
  animation: pulseAnimation 1s infinite;
}
#rightArrowBtn {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 45%;
  right: 32px;
  font-size: 48px;
}
#rightArrowBtn-animation {
  color: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 45%;
  right: 32px;
  font-size: 48px;
  animation: pulseAnimation 1s infinite;
}

#page2-content {
  width: 100%;
  display: flex;
}

#page2-title {
  margin-top: 120px;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
  justify-content: center;
  color: white;
  font-weight: 700;
  background: linear-gradient(to right, var(--blue), var(--lightGray));
}

#page2-item1 {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  background-color: aquamarine;
}

.page2-item1-service {
  width: 200px;
  height: 100px;
  background-color: bisque;
}

@keyframes scaleBackground {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 105%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.25);
    opacity: 0.1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
