/* .input{
        width: 100%;
            outline: none;
            border: none;
            height: 17px;
            font-size: 14px;
            font-weight: 400;
}

.input {
    color: #262626;
} */