#tableCheckBoxHeader {
  width: 28px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(233, 236, 239, 0.5);
}

#tableHeader {
  position: relative;
  text-align: center;
  cursor: pointer;
  background-color: rgba(233, 236, 239, 0.5);
}

#tableHeader-arrow svg {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  z-index: 2;
}

.tableContents {
  margin: 1px 0px;
}

.tableCheckBoxArea {
  height: 100%;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  table-layout: fixed;
}

td div {
  text-align: center;
}
td input {
  text-align: center;
}

#selectedTd{
  background-color: rgb(100, 150, 200) !important;
}

.styleNone {
  color: transparent;
}

.highlight-row {
  background-color: rgb(200, 223, 255) !important; 
}

.highlight-row td,
.highlight-row div {
  background-color: transparent !important;
  border-color: rgb(200, 223, 255)
}
