.tableCheckBoxHeader {
  width: 28px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(233, 236, 239) !important;
}

.tableHeader {
  position: sticky;
  text-align: center;
  cursor: pointer;
  top: 0;
  background-color: rgba(233, 236, 239) !important;
}

.tableHeader-arrow svg {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  z-index: 2;
}

.tableContents {
  margin: 1px 0px;
}

.tableCheckBoxArea {
  height: 100%;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-row {
  position: sticky;
  bottom: 0;
  border: 1px solid rgba(233, 236, 239) !important;
}

table {
  table-layout: auto;
}

td div {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

td input {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  height: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

td input[type="checkbox"] {
  height: 1rem;
}

td select {
  height: 2rem;
}

.styleNone {
  color: transparent;
}

.selectedTr td {
  background-color: rgb(200, 223, 255) !important;
}

.selectedTr .selectedTd {
  background-color: rgb(150, 175, 200) !important;
}

div[contentEditable="true"] {
  border-radius: 3px;
  outline: none;
  background-color: white !important;
}
