.leftTable {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 60vh;
  overflow: auto;
  border: 1px solid rgb(222, 226, 230);    
}

.subTable { 
  padding-left: 0;
  padding-right: 0;
  height: 23.4vh;
  overflow: auto;
  outline: 1.5px solid rgb(222, 226, 230);
}

.mainTab{
  background-color: #E9ECEF;

}