#hr-container {
  width: 82%;
  margin: auto;
  min-height: calc(100vh - 152px);
}

.hr-search-row {
  // padding-left: 25px !important;
  // padding-right: 23px !important;
}

.hr-left-col {
  padding-left: 39px !important;
}

.hr-leftTable {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 60.4vh;
  overflow: auto;
  border: 1px solid rgb(222, 226, 230);
}

.hr-subTable {
  padding-left: 0;
  padding-right: 0;
  height: 23.7vh;
  overflow: auto;
  outline: 1.5px solid rgb(222, 226, 230);
}

.hr-mainTab {
  background-color: #e9ecef;
}
