/* The following block can be included in a custom.scss */

/* make the customizations */
.input-align {
  display: flex !important;
  justify-items: center !important;
  align-items: center !important;
}

.nav {
  --bs-nav-link-color: var(--bs-secondary-color) !important;
}

// 커서 안보이게
* {
  caret-color: transparent;
}

/* input 요소에서만 커서를 보이게 함 */
input {
  caret-color: auto;
}

div[contenteditable] {
  caret-color: auto;  /* 또는 원하는 색상으로 설정, 예: black */
}

// 자동완성 입력시 배경색이 바뀌는 것을 방지
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap"; 