/* The following block can be included in a custom.scss */

/* make the customizations */
.input-align {
  display: flex !important;
  justify-items: center !important;
  align-items: center !important;
}

.nav {
  --bs-nav-link-color: var(--bs-secondary-color) !important;
}

body {
  user-select: none;
}

// 자동완성 입력시 배경색이 바뀌는 것을 방지
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap"; 