.leftTable {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 58vh;
  overflow: auto;
  border: 1px solid rgb(222, 226, 230);    
}

.leftSearchTable {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 50vh;
  overflow: auto;
  border: 1px solid rgb(222, 226, 230);    
}

.subTable { 
  padding-left: 0;
  padding-right: 0;
  height: 17vh;
  overflow: auto;
  outline: 1.5px solid rgb(222, 226, 230);
}

.sb {  
}

.mainTab{
  background-color: #E9ECEF;

}

.menuGrid{
    padding-top: 500;
    margin-top: 500;
}