#SignUp .subLabel{
    font-weight: bold;
    padding-bottom : 15px ; 
    text-align:center;
    padding-bottom: 15px;
}

#SignUp .d-flex{
row-gap: 150;
column-gap: 100;
}

.inVaild{
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: -1px !important;
  outline-color: rgb(255, 20, 52) !important;
  box-shadow: 0 0px 4px 2px rgba(255, 20, 52, 0.5) !important;
}

.errorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
    text-align: left;
}

.successMessageWrap {
    margin-top: 8px;
    color: #3CB371;
    font-size: 12px;
    text-align: left;
}

.color-option {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 50%; 
}

.color-option input[type="radio"] {
  display: none;
}

.color-option span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.3s;
}

.color-option input[type="radio"]:checked + span {
  transform: scale(1.2); 
}


.color-option {
  margin-right: 30px; /* 간격 추가 */
}

.color-option span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s;
  opacity: 0.5;
  transform: scale(0.8); /* 크기를 기본적으로 80%로 설정합니다. */
}

.color-option input[type="radio"]:checked + span {
  transform: scale(1.2);
  opacity: 1;
}

